#apple {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0 10px;
    padding: 30px;
}
.item {
    margin: 0 20px;
    border-bottom: 1px solid #aeaeae;
    padding-bottom: 20px;
}
.item img {
    width: 120px;
}
.item p {
    color: #a7a7a7;
    font-size: 11px;
}
.item button {
    border: 1px solid #cecece;
    background: white;
    height: 30px;
    font-weight: bold;
    font-size: 10px;
}

.quantity {
    width: 40px;
    margin-right: 5px;
}
.add {
    width: 120px;
    margin-left: 15px;
}
.quantity:hover {
    border: 1px solid #484689;
}

.add:hover {
    background: #484689;
    color: white;
}

.pagination {
    text-align: right;
    margin-right: 50px;
    margin-top: 0;
    color: #cecece;
}