body {
    background: #fafbfc;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
}
img {
     width: 90px;
     display: block;
     margin: 20px auto;
 }
aside {
    background: #ffffff;
    width: 16%;
}
aside header {
    width: 80%;
    margin: 0 auto ;
    border-bottom: 1px solid #e2e4e8;
}
nav {
    width: 90%;
    margin: 50px auto;
}
nav h4 {
    padding-left: 30px;
}
ul {
    list-style-type: none;
    padding: 0;
    height: 70vh;
}
li {
    padding-left: 15px;
}
li i {
    margin: 10px 8px;
    font-size: 20px;
}
a {
    color: #aeaeae;
    text-decoration-line: none;
}
a:hover {
    color: #484689;
}

main {
    width: 81%;
    background: #ffffff;
}
main header {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     border-bottom: 1px solid #e2e4e8;
    align-items: center;
    padding: 20px 40px;
}
table{
    width: 95%;
    padding: 30px;
    margin: 10px 30px 0;
    border-collapse: collapse;
    color: #a7a7a7;
}
tr {
    height: 40px;
}
td, th {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #e2e4e8;
    border-top: 1px solid #e2e4e8;
}
footer {
    font-size: 10px;
    text-align: center;
    margin-bottom: 10px;
}

#logo {
    width: 105px;
    margin: 0 auto;
}
#user {
    color: #484689;
    width: 50%;
    margin: 10px auto 40px;
    text-align: center;
}
#logout {
    color: #484689;
    border: none;
    background: #eae9f1;
    width: 60%;
    margin: 0 65px;
    height: 30px;
}
#logout:hover {
    background: rgba(234, 233, 241, 0.5);
}
#search {
    border: 0;
    width: 100px;
}
#search::placeholder {
    color: #a7a7a7;
}
#catalogue {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     margin: 20px 0;
     padding: 30px;
 }
#apple {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0 10px;
    padding: 30px;
}
.item {
    margin: 0 20px;
    border-bottom: 1px solid #aeaeae;
    padding-bottom: 20px;
}
.item img {
    width: 120px;
}
.item p {
    color: #a7a7a7;
    font-size: 11px;
}
.item button {
    border: 1px solid #cecece;
    background: white;
    height: 30px;
    font-weight: bold;
    font-size: 10px;
}

.quantity {
    width: 40px;
    margin-right: 5px;
}
.add {
    width: 120px;
    margin-left: 15px;
}
.quantity:hover {
    border: 1px solid #484689;
}

.add:hover {
    background: #484689;
    color: white;
}

.pagination {
    text-align: right;
    margin-right: 50px;
    margin-top: 0;
    color: #cecece;
}
.catalogue-item {
    width: 120px;
    height: 150px;
    border: 1px solid #cecece;
    padding: 7px;
    margin: 10px;
    color: #424242;
    text-decoration: none;
    flex: 1 0 15%;
}
.catalogue-item span {
    display: none;
}
.catalogue-item:hover span {
    display: block;
    color: #cecece;
    font-size: 10px;
}
.catalogue-item:hover p {
    margin-top: -10px;
}
.catalogue-item p {
    margin-top: 40px;
}
.searchbox {
    padding: 5px 15px;
    height: 30px;
    border: 1px solid #e2e4e8;
    color: #e2e4e8;
    width: 140px;
}
.searchbox button {
    border: none;
    color: #a7a7a7;
    background: white;
    font-size: 20px;
    padding-top: 3px;
}
.capitalize {
    text-transform: uppercase;
}
.active {
     border-left: 8px solid #484689;
}
.active a {
    color: #484689;
}